<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.whitetown.usersecurity.mappers.MenuInfoMapper" >

  <select id="selectMenuListByCodeAndLevel" resultType="cn.whitetown.authcommon.entity.po.MenuInfo">
    select t1.* from
        (select * from sys_menu where menu_level &lt;= #{lowLevel}) as t1
    where
        t1.menu_code = #{menuCode}
        or t1.menu_level &gt;
            (select menu_level from sys_menu where menu_code = #{menuCode})
  </select>
</mapper>