<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.whitetown.usersecurity.mappers.MenuInfoMapper" >
    <sql id="selectParamsForVo">
        menu_id,menu_name,menu_code,parent_id,menu_url,menu_icon,menu_sort,menu_level,menu_status
    </sql>
    <update id="updateRoleMenus">
        delete from role_menu where role_id = #{roleId};
        <foreach collection="menuIds" item="id">
            insert into role_menu (id,role_id,menu_id) values (null,#{roleId},#{id});
        </foreach>
    </update>

    <delete id="removeRelationByMenuId">
        delete from role_menu where menu_id = #{menuId};
    </delete>

    <select id="selectMenuListByCodeAndLevel" resultType="cn.whitetown.authcommon.entity.po.MenuInfo">
    select t1.* from
        (select * from sys_menu where menu_level &lt;= #{lowLevel}) as t1
    where
        t1.menu_status in (0,1)
        and (t1.menu_code = #{menuCode}
        or t1.menu_level &gt;
            (select menu_level from sys_menu where menu_code = #{menuCode}))
  </select>
    <!--检索当前用户可查阅的菜单数据，角色状态0-->
    <select id="selectActiveMenuByUserId" resultType="cn.whitetown.authcommon.entity.po.MenuInfo">
        select
        <include refid="selectParamsForVo"></include>
        from sys_menu
        where
        menu_status = #{menuStatus}
        and menu_id in
        (select menu_id from role_menu
        where role_id in
        (select r.role_id from user_role as u inner join user_role_relation as r
        on u.role_id = r.role_id where r.user_id = #{userId} and u.role_status = 0)
        )
    </select>
    <select id="selectMenuByRoleId" resultType="cn.whitetown.authcommon.entity.po.MenuInfo">
        select
        <include refid="selectParamsForVo"></include>
        from sys_menu
        where menu_status in (0,1)
        and menu_id in
        (select menu_id from role_menu where role_id = #{roleId})
    </select>
</mapper>