<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.whitetown.usersecurity.mappers.RoleInfoMapper" >

    <select id="selectRolesByUsername" resultType="cn.whitetown.authcommon.entity.po.UserRole">
        select role_id,`name`,description,sort,role_status,create_time,update_time
            from user_role
            where role_id in
                (select role_id from user_role_relation
                    where user_id in
                    (select user_id from user_basic_info
                        where username = #{username}))
    </select>
</mapper>